

    @font-face {
        font-family: 'PoliceDfA';
        src: url('../Fonts/AccessibleDfA-regular.ttf') format('truetype');
        /* Ajoutez d'autres formats de police au besoin (woff, woff2, eot, etc.) */
    }


    /* Noircir la bordure de #scrolling-text */
    #scrollSTT.all-black {
        border-color: black !important; /* Force la couleur de la bordure à être noire */
    }

    body {
        font-family: 'PoliceDfA', sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* Utiliser la hauteur de la vue (viewport height) pour centrer verticalement */
        background-color: black; /* Le fond de la page sera noir */
        color: white; /* Le texte de la page sera blanc */

    }

    #contentSTT {
        flex: 1; /* Permet au contenu de prendre tout l'espace disponible */
        display: flex;
        justify-content: center;
        align-items: flex-end; /*center; /* Modifier de flex-end à flex-start */
        /*margin-top: -3em; /* Ajustez la valeur en fonction du décalage souhaité */

    }

    #scrollSTT {
        background-color: black;
        height: 200px;      /* Hauteur de la zone de défilement */
        width: 60%;
        overflow: hidden; /* Masque le texte qui dépasse de la zone */
        /*flex: 1; /* Permet au contenu de prendre tout l'espace disponible */
        display: flex;
        justify-content: center;
        align-items: flex-end; /*  flex-end à flex-start. determine la position du STT en haut ou en bas de la zone STT*/
        border: 2px solid #CCC; /* Bordure pour la zone de défilement */
        font-size: 32px; /* Taille de la police en pixels (ajustez selon vos besoins) */
    }

    #STT {
    }

    @keyframes STT-anim {
        from {
        /* pushes the STT down past the viewport STT est déplacé vers le bas de sa hauteur et donc en bas de scroll-STT*/
            transform: translateY(110%); /* TODO: 110% ou alors intervale de 0.5s ou 0.2s pour arreter à temps le defilement. verifier si c'est une bonne idée pour dureeAnim +1? */
        }
        to {
        /* returns the STT to its default position STT est déplacé vers le haut de 200px qui est la hauteur de scroll-STT*/
            transform: translateY(-200px);
        }
    }
        
    #vide {
        min-height: 5em; /* pour décaler le STT vers le haut car il est trop bas avec les lunettes AR */
    }



.hidden {
    display: none;
}